<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>관리자 로그인</title>
</head>
<body>
    <h2>🛡️ 관리자 로그인</h2>
    <form method="post">
        <input type="text" name="username" placeholder="ID" required/><br>
        <input type="password" name="password" placeholder="비밀번호" required/><br>
        <button type="submit">로그인</button>
    </form>
    {% if message %}<p style="color:red">{{ message }}</p>{% endif %}
    <div style="margin-top:20px;">
        <a href="/" style="font-size:small;">일반 사용자 로그인 화면으로 이동</a>
    </div>
</body>
</html>
